<li class="cards_item">
    <div class="card block">
        <div class="card_image">
            <img src="/assets/images/event-icons/{#ICONPATH}.png" />
        </div>
        <div class="card_content">
            <h2 class="card_title">{#EVENTTITLE}</h2>
            <p class="card_text">{#EVENTDESCRIPTION}</p>
            <button class="btn card_btn">
                <a class="link" href="/Events/{#MODULE}/{#EVENTFILENAME}"
                    >Read More</a
                >
            </button>
        </div>
    </div>
</li>
