<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{#EVENTNAME}</title>
        <link rel="stylesheet" href="/styles/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Barlow&family=Nabla&family=Foldit&family=Nunito&family=Roboto&display=swap"
            rel="stylesheet"
        />
        <style>
            #gradient-canvas {
                position: fixed;
                min-height: 100vh;
                --gradient-color-1: #00eaff;
                --gradient-color-2: #3d3d3d;
                --gradient-color-3: #000000;
                --gradient-color-4: #1d002b;
                z-index: -1;
            }
        </style>
    </head>

    <body>
        <canvas
            id="gradient-canvas"
            data-js-darken-top
            data-transition-in
        ></canvas>
        <div class="container">
            <main class="main">
                <a href="/" class="headerImgLink">
                    <img
                        class="headerImg"
                        src="/assets/images/logo-old.png"
                        alt="logo"
                    />
                </a>

                <section class="header">
                    <img
                        class="eimg"
                        src="/assets/images/codifica.jpg"
                        alt="codifica"
                        draggable="false"
                    />
                    <div class="headerText">
                        <h1>{#EVENTNAME}</h1>
                        <div class="headerBtnContainer">
                            <button>Register</button>
                            <button id="ShareBtn">Share</button>
                        </div>
                    </div>
                </section>
                <section class="info">
                    <div>
                        <p class="venue">Venue</p>
                        <p class="venue-value">📍COEP TECH</p>
                    </div>
                    <span></span>
                    <div>
                        <p class="prizes">🏆Prizes Worth</p>
                        <p class="prizes-value">Rs. 1,00,000</p>
                    </div>
                </section>
                <section id="event" class="event">
                    <h2># Event</h2>
                    <p>
                        {#EVENTDESCRIPTION}
                    </p>
                </section>

                <section id="sponsors" class="sponsors">
                    <h2># Sponsors</h2>
                    <div class="sponsorsContainer">
                        <img src="/assets/images/centiro.png" alt="sponsor" />
                        <img src="/assets/images/centiro.png" alt="sponsor" />
                        <img src="/assets/images/centiro.png" alt="sponsor" />
                    </div>
                </section>
                <section id="structure" class="structure">
                    <h2># Structure</h2>

                    <div>
                        <div>
                            <h4>Round 1:</h4>
                            <p>
                                A Multiple choice questions(MCQ) round. Time
                                allotted is 30 minutes. Negative marking will be
                                implemented. Further details will be informed to
                                the team at the time of event.
                            </p>
                        </div>
                        <div>
                            <h4>Round 2:</h4>
                            <p>
                                The top teams from the Round 1 will qualify for
                                this round. This round will be a rapid coding
                                round where the team has to complete the codes
                                within the stipulated time. The output file
                                needs to be submitted and will be judged on the
                                basis of the time taken to code it. Further
                                details will be informed to the team at the time
                                of event.
                            </p>
                        </div>
                        <div>
                            <h4>Round 3:</h4>
                            <p>
                                The top teams from Round 2 will qualify for this
                                round. This round will also be a rapid coding
                                round and relatively difficult questions will be
                                set up. The code must be working as well as
                                efficient. All the possible inputs and corner
                                cases should be handled. The codes will be
                                judged on the basis of efficiency of the code
                                and the time required to code it.
                            </p>
                        </div>
                        <div>
                            <h4>Elimination Criteria:</h4>
                            <p>
                                1st round: Groups of two to have MCQ test 2nd
                                round: Top 10 teams Qualify for round two 3rd
                                round: Top 5 teams for round 3
                            </p>
                        </div>
                    </div>
                </section>

                <section id="rules" class="rules">
                    <h2># Rules</h2>

                    <ol>
                        <li>
                            The environment will be either Ubuntu 14.04 OS with
                            gedit/vim/emacs as text editor and gcc as compiler
                            OR Windows 7 with Turbo C / Dev C++ (as per the
                            team's choice).
                        </li>
                        <li>
                            Participants need to bring their College ID cards
                            and the receipt of registration during reporting.
                        </li>
                        <li>
                            Participants are expected to give their correct
                            contact details, so as to inform them about the
                            results.
                        </li>
                        <li>
                            Rules may be changed without prior intimation.
                            Participants are requested to check the MindSpark'22
                            website (www.mind-spark.org) regularly for updates.
                        </li>
                        <li>
                            In case of any disputes, the decision of the
                            organizers and the judges will be
                        </li>
                        final and binding to all.
                        <li>
                            Team members may be from different colleges/
                            institutions but one participant may not be a part
                            of multiple teams for the same event.
                        </li>
                    </ol>
                </section>
                <section id="faqs" class="faqs">
                    <h2># FAQs</h2>
                    <div>
                        <h4>What is the team structure?</h4>
                        <p>
                            A team may consist of maximum 2 participants. The
                            members of the team can be from different
                            educational institutions but should be strictly
                            First Year or Second Year Undergraduates.
                        </p>
                    </div>
                    <span></span>

                    <div>
                        <h4>Do I have to bring anything?</h4>
                        <p>
                            College ID Cards and receipt of registration are
                            compulsory; you may carry pen or pencil, if you wish
                            to work out a rough plan for rounds 2 and 3.
                        </p>
                    </div>
                    <span></span>

                    <div>
                        <h4>
                            Which IDE (Integrated Development Environment) will
                            be provided?
                        </h4>
                        <p>
                            The environment provided will be Ubuntu 14.04 OS
                            with emacs/vim/gedit as text editor and gcc as
                            compiler or Windows 7 OS with Turbo C/ Dev C++,
                            depending on choice of the participating teams. COEP
                            recommends Linux.
                        </p>
                    </div>
                </section>
            </main>
        </div>
        <script src="/lib/main.js"></script>
        <script src="/lib/gradient/gradient.js"></script>
        <script>
            function copyWindowLocationToClipboard() {
                const inputElement = document.createElement("input");
                inputElement.value = window.location.href;
                document.body.appendChild(inputElement);
                inputElement.select();
                document.execCommand("copy");
                document.body.removeChild(inputElement);
                document.getElementById("ShareBtn").innerText =
                    "Link Copied!!!";
                setTimeout(() => {
                    document.getElementById("ShareBtn").innerText = "Share";
                }, 2000);
            }
            document
                .getElementById("ShareBtn")
                .addEventListener("click", copyWindowLocationToClipboard);
        </script>
    </body>
</html>
