<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{#MODULENAME}</title>
        <link rel="stylesheet" href="/styles/events.css" />
        <style>
            #gradient-canvas {
                position: fixed;
                min-height: 100vh;
                --gradient-color-1: #00eaff;
                --gradient-color-2: #3d3d3d;
                --gradient-color-3: #000000;
                --gradient-color-4: #1d002b;
                z-index: -1;
            }
        </style>
    </head>
    <body>
        <canvas
            id="gradient-canvas"
            data-js-darken-top
            data-transition-in
        ></canvas>
        <div class="container">
            <a href="/" class="MSLogoLink">
                <img
                    class="MSLogo"
                    src="/assets/images/logo-old.png"
                    alt="logo"
                />
            </a>
            <div class="main">
                <h1>{#MODULENAME}</h1>
                <h3>{#DESCRIPTION}</h3>
                <ul class="cards">
                    {#EVENTSLIST}
                </ul>
            </div>
        </div>
    </body>
    <script src="/lib/gradient/gradient.js"></script>
</html>
