<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Codifica</title>
        <link rel="stylesheet" href="/styles/events.css" />
    </head>
    <body>
        <!-- <canvas
            id="gradient-canvas"
            data-js-darken-top
            data-transition-in
        ></canvas> -->
        <div class="container">
            <a href="/" class="MSLogoLink">
                <img
                    class="MSLogo"
                    src="/assets/images/logo-old.png"
                    alt="logo"
                />
            </a>
            <div class="main">
                <h1>CODIFICA</h1>
                <h3>
                    Pit yourself against the best and test your coding skills
                </h3>
                <ul class="cards">
                    <li class="cards_item">
                        <div class="card block">
                            <div class="card_image">
                                <img src="/assets/images/Codejunkie.png" />
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">CODE JUNKIE</h2>
                                <p class="card_text">
                                    This event is to test the proficiency of the
                                    participant in C Programming Language
                                </p>
                                <button class="btn card_btn">
                                    <a
                                        class="link"
                                        href="/Module/Codifica/CodeJunkie.html"
                                        >Read More</a
                                    >
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card block">
                            <div class="card_image">
                                <img src="/assets/images/Codejunkie.png" />
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">CODE JUNKIE</h2>
                                <p class="card_text">
                                    This event is to test the proficiency of the
                                    participant in C Programming Language
                                </p>
                                <button class="btn card_btn">
                                    <a
                                        class="link"
                                        href="/Module/Codifica/CodeJunkie.html"
                                        >Read More</a
                                    >
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card block">
                            <div class="card_image">
                                <img src="/assets/images/Codejunkie.png" />
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">CODE JUNKIE</h2>
                                <p class="card_text">
                                    This event is to test the proficiency of the
                                    participant in C Programming Language
                                </p>
                                <button class="btn card_btn">
                                    <a
                                        class="link"
                                        href="/Module/Codifica/CodeJunkie.html"
                                        >Read More</a
                                    >
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card block">
                            <div class="card_image">
                                <img src="/assets/images/Codejunkie.png" />
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">CODE JUNKIE</h2>
                                <p class="card_text">
                                    This event is to test the proficiency of the
                                    participant in C Programming Language
                                </p>
                                <button class="btn card_btn">
                                    <a
                                        class="link"
                                        href="/Module/Codifica/CodeJunkie.html"
                                        >Read More</a
                                    >
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card block">
                            <div class="card_image">
                                <img src="/assets/images/Codejunkie.png" />
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">CODE JUNKIE</h2>
                                <p class="card_text">
                                    This event is to test the proficiency of the
                                    participant in C Programming Language
                                </p>
                                <button class="btn card_btn">
                                    <a
                                        class="link"
                                        href="/Module/Codifica/CodeJunkie.html"
                                        >Read More</a
                                    >
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    <!-- <script src="./lib/gradient/gradient.js"></script> -->
</html>
